@media all {
  article > samp, section > samp,
  article > code, section > code,
  pre {
    display: block;
    white-space: pre-wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: #Fcf6e6;
    font-size: 0.8rem;
    line-height: 1.5rem; }

  p > code {
    font-size: 0.8rem;
    line-height: 1.5rem;
    background-color: #F7EfDf;
    padding-right: 0.3rem;
    padding-left: 0.3rem; }

  kbd > kbd > samp {
    /* Computer generated user input (menus) */ }

  p > kbd > kbd {
    /* Literal keypress input. */
    border: 0.1em #C7C1A7 solid;
    /*
    	border: 0.1em #999 solid;
    */ }

  p > kbd > kbd {
    background-color: #FFFFF0;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-size: 0.8rem; }

  article > samp {
    color: #999; }

  article > samp > kbd > kbd {
    font-weight: bold; }

  kbd > samp {
    /* Computer generated user input */ }

  p > samp {
    /* Computer output */
    color: #FFFFF0;
    background-color: #C7C1A7;
    font-size: 0.8rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem; }

  p > kbd {
    /* User input */
    background-color: #Fcf6e6;
    line-height: 1.5rem;
    font-size: 0.8rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem; }

  kbd.usr:before {
    content: "%\00a0"; }

  kbd.su:before {
    content: "#\00a0"; }

  samp > kbd {
    /* Computer echoed user input (shell commands) */
    color: #000; } }
@media all {
  ol {
    counter-reset: item; }

  ol li {
    display: block; }

  ol li:before {
    content: counters(item,".") " ";
    counter-increment: item; }

  article {
    counter-reset: a_head; }

  h2 {
    counter-reset: b_head; }

  h3 {
    counter-reset: c_head; }

  h4 {
    counter-reset: d_head; }

  h5 {
    counter-reset: e_head; }

  h2:before {
    content: counter(a_head) ".\00a0";
    counter-increment: a_head; }

  h3:before {
    content: counter(a_head) "." counter(b_head) "\00a0";
    counter-increment: b_head; }

  h4:before {
    content: counter(a_head) "." counter(b_head) "." counter(c_head) "\00a0";
    counter-increment: c_head; }

  h5:before {
    font-style: normal;
    content: counter(a_head) "." counter(b_head) "." counter(c_head) "." counter(d_head) "\00a0";
    counter-increment: d_head; }

  h6:before {
    content: counter(a_head) "." counter(b_head) "." counter(c_head) "." counter(d_head) "." counter(e_head) "\00a0";
    counter-increment: e_head; } }
@media all {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1em; }

  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    margin-top: 1.5em; }

  h1 {
    text-transform: capitalize; }

  h2 {
    letter-spacing: 0.1em;
    font-family: "Cambria", "Times New Roman", Serif;
    text-transform: uppercase; }

  h3 {
    font-weight: bold; }

  h4 {
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-variant: small-caps; }

  h5 {
    font-style: italic; }

  h6 {
    margin: 0;
    float: left;
    margin-right: 0.2em;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.1em; }
    h6 + p {
      margin-top: 1.5em;
      padding-bottom: 1.5em; } }
@media print {
  html, body {
    padding: 0;
    margin: 0;
    width: 100%; }

  p {
    font-size: 12pt;
    padding: 0;
    text-align: justify; }

  p + p {
    text-indent: 1.5em; }

  @page {
    margin-top: 11%;
    margin-bottom: 22%;
    /*
    	margin-left: 1in;
    	margin-right: 1in;
    	padding-top: 1in;
    	padding-bottom: 1in;
    	font-family: Georgia, Serif;
    */
    color: #000;
    background-color: #000;
    widows: 4;
    orphans: 4;
    counter-increment: page; }
  @page :left {
    margin-left: 22%;
    margin-right: 11%;
    @bottom-left {
      content: counter(page); } }
  @page :right {
    margin-left: 11%;
    margin-right: 22%;
    @bottom-right {
      content: counter(page); } }
  h1, h2 {
    page-break-before: right; }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid; }

  body > header,
  body > footer,
  menu, nav {
    display: none; } }
@media all {
  blockquote {
    margin: 1em 0 1em 0;
    padding: 0.5em 2em 0.5em 1.5em;
    border-left: 0.5em solid #EEE8D8; }
    blockquote > cite {
      display: block;
      text-align: right; }
      blockquote > cite:before {
        content: "\2014"; }

  q ~ cite {
    font-style: italic; } }
@media all {
  * {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    border: 0; }

  body {
    font-family: "Constantia", "Georgia", Serif;
    font-size: 12pt;
    line-height: 1.5em; }

  ol ol, ul ul {
    margin-bottom: 0;
    padding-left: 1.5em; }

  ol, ul {
    padding-left: 0em;
    margin-bottom: 1.5em; }

  p {
    text-align: justify;
    white-space: inherit; }

  span.lining-figs, table, tr, td {
    font-family: "Cambria", "Times New Roman", Serif; }

  abbr {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.1em; }

  hr {
    height: 1.5em;
    text-align: center;
    margin: 1.5em; }

  hr:before {
    content: "\2042";
    text-align: center; }

  mark {
    background-color: #FFCFC7;
    opacity: 0.8; } }
nav#toc {
  position: fixed;
  z-index: 100;
  background: #FFFFF0;
  top: 3em;
  left: 0;
  padding: 2em;
  border: 1px dashed #999;
  margin-left: -25em;
  min-width: 23em;
  transition: all 0.3s ease-in-out; }
  nav#toc:hover {
    width: 23em;
    margin-left: 0; }
  nav#toc .title {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    right: -4em;
    top: 15em; }
