/*
 */
@media screen, tv, projection {
	html {
		background-color: #EEE8D8;
	}
	body {
		background-color: #FFFFF0;
		color: #333;
	}
	p + * {
		margin-top: 1.5em;
	}
	a {
		color: #999;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

@media tv, projection {
	body {
		font-size: 17px;
	}
}
@media tv and (min-width: 1280px), projection and (min-width: 1280px) {
	body {
		font-size: 34px;
	}
}
@media tv and (min-width: 1920px), projection and (min-width: 1920px) {
	body {
		font-size: 51px;
	}
}

