@font-face {
    font-family: ornaments;
    src: url('Nymphette.ttf');
}
h2:before, 
h3:before,
h4:before,
h5:before,
h6:before {
    font-size: 1rem;
    position: absolute;
    left: 0;
    width: 5em;
    text-align: right;
    font-variant: normal;
}
h1 {
    text-align: center;
}
h1:before { content: "k"; }
h1:after  { content: "l"; }
h1:before, h1:after {
    text-transform: none;
    font-family: 'ornaments';
    padding-left: 0.5em;
    padding-right: 0.5em;
}
@media tv, projection {
    body > nav {
        display:none;
    }
}
html,body {
    width:100%;
}
body {
    width: 41em;
    padding-right: 4em;
    padding-left: 5em;
    padding-bottom: 10em;
    > header {
        width: 43em;
        > p {
            font-size: 2em;
            line-height: 3rem;
            text-align: right;
            + p {
                line-height: 1.5em;
                padding-right:2rem;
                padding-bottom:1.5em;
                margin:0;
                font-size: 1em;
                font-style: italic;
                color:#999;
            }
        }
    }
    > nav:not(#toc) {
        padding-top: 9em;
        top:0;
        height:100%;
        background-color: #EEE8D8;
        left:50em;
        width:20em;
        position:fixed;
        > a {
            display:block;
            padding-left:2em;
            line-height: 1.5em;
            > time {
                color:#ccc;
                &:before {
                    content:" - ";
                }
            }
        }
        > hr {
            width:70%;
            border-bottom:0.1em #ccc dashed;
            height:0.1em;
            margin-top: 0.7em;
            margin-bottom: 0.7em;
            &:before {
                content:none;
            }
        }
    }
    > footer {
        font-variant: small-caps;
        font-size:0.8em;
        letter-spacing: 0.1em;
        position: fixed;
        right:1em;
        bottom:1em;
        color:#ccc;
    }
}

main {
    > footer {
        display: block;
        text-align: right;
        color:#ccc;
        position: relative;
        top:3em;
    }
}
article {
    margin-bottom: 3em;
    > header {
        display: block;
        border-top: 0.1em #EEE8D8 solid;
        line-height: 1.4em;
        > a {
            display: block;
            &:hover {
                text-decoration: none;
                > h1 {
                    color:#ccc;
                }
            }
            > h1 {
                display: inline;
                color:#333;
            }
        }
        time {
            padding-left: 0.5em;
            color:#ccc;
            &:before {
                content: "\00ab";
                padding-right: 0.5em;
            }
        }
        + p {
            margin-top: 1.5em;
        }
    }
    > footer {
        color:#ccc;
        text-align: right;
    }
    p {
        text-align: justify;
    }
}
