@media only print {
    html, body {
        padding:0;
        margin:0;
        width: 100%;
    }
    article > * {
        margin-left: 60pt;
    }
    p {
        font-size: 12pt;
        padding:0;
        text-align: justify;
        + p {
            text-indent: 1.5em;
        }
    }
    ol ol, ul ul {
        margin-left: $line-height;
    }

    h1, h2 {
        page-break-before: right;
    }
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
    a {
        &:after {
            content: " (" attr(href) ") ";
        }
    }
    body > header,
    body > footer,
    menu, nav {
        display: none;
    }
    body {
    }
    @page {
        margin-top: 74.4pt;
        margin-bottom: 120.4pt;
        color: #000;
        background-color: #000;
        widows:4;
        orphans:4;
        counter-increment: page;
        counter-reset: page 1;
    }
    @page:left {
        margin-left: 60.4pt;
        margin-right: 74.4pt;
        @bottom-left {
            content: counter(page);
        }
    }
    @page:right {
        margin-left: 14.4pt;
        margin-right: 120.4pt;
        @bottom-right {
            content: counter(page);
        }
    }
}
