@media screen {
    nav#toc {
            position: fixed;
            z-index: 100;
            background: #FFFFF0;
            top: 3em;
            left: 0;
            padding: 2em;
        margin-left: -25em;
        min-width: 23em;
            border: 1px dashed #EEE8D8;
        color: #EEE8D8;
        max-height: 90%;
        overflow-y: scroll;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: initial;
            border: 1px dashed #999;
                    width: 23em;
                    margin-left: 0;
            }
        >:first-child {
            margin-bottom: 0;
        }
        .title {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                text-transform: uppercase;
                position: absolute;
                right: -4em;
                top: 10em;

        }
    }
}
